extends ../layout

block content
  .login-form
    .login-container
      h2 &Dstrok;&abreve;ng nh&#x1EAD;p
      form
        input(type='email' placeholder='Email' required='')
        input(type='password' placeholder='Mật khẩu' required='')
        button(type='submit') &Dstrok;&abreve;ng nh&#x1EAD;p
      p
        a(href='#') Qu&ecirc;n m&#x1EAD;t kh&#x1EA9;u?
        |  | 
        a(href='/signup') &Dstrok;&abreve;ng k&yacute;
      .social-login
        button &Dstrok;&abreve;ng nh&#x1EAD;p b&#x1EB1;ng Facebook
        button.google &Dstrok;&abreve;ng nh&#x1EAD;p b&#x1EB1;ng Google
      .home-button
        a(href='/') Tr&#x1EDF; v&#x1EC1; trang ch&#x1EE7;