extends ../layout

block content
  nav.custom-navbar.navbar.navbar.navbar-expand-md.navbar-dark.bg-dark(arial-label='Furni navigation bar')
    .container
      a.navbar-brand(href='/')
        | Furni
        span .
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarsFurni' aria-controls='navbarsFurni' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsFurni.collapse.navbar-collapse
        ul.custom-navbar-nav.navbar-nav.ms-auto.mb-2.mb-md-0
          li.nav-item
            a.nav-link(href='/') Home
          li.active
            a.nav-link(href='/shops') Shop
          li
            a.nav-link(href='/aboutus') About us
          li
            a.nav-link(href='/services') Services
          li
            a.nav-link(href='/blogs') Blog
          li
            a.nav-link(href='/contacts') Contact us
        ul.custom-navbar-cta.navbar-nav.mb-2.mb-md-0.ms-5
          li
            a.nav-link(href='#')
              img(src='images/user.svg')
          li
            a.nav-link(href='/carts')
              img(src='images/cart.svg')
  // End Header/Navigation
  // Start Hero Section
  .hero
    .container
      .row.justify-content-between
        .col-lg-5
          .intro-excerpt
            h1 Shop
        .col-lg-7
  // End Hero Section
  .untree_co-section.product-section.before-footer-section
    .container
      .row
        // Start Column 1
        .col-12.col-md-4.col-lg-3.mb-5
          a.product-item(href='#')
            img.img-fluid.product-thumbnail(src='images/product-3.png')
            h3.product-title Nordic Chair
            strong.product-price $50.00
            span.icon-cross
              img.img-fluid(src='images/cross.svg')
        // End Column 1
        // Start Column 2
        .col-12.col-md-4.col-lg-3.mb-5
          a.product-item(href='#')
            img.img-fluid.product-thumbnail(src='images/product-1.png')
            h3.product-title Nordic Chair
            strong.product-price $50.00
            span.icon-cross
              img.img-fluid(src='images/cross.svg')
        // End Column 2
        // Start Column 3
        .col-12.col-md-4.col-lg-3.mb-5
          a.product-item(href='#')
            img.img-fluid.product-thumbnail(src='images/product-2.png')
            h3.product-title Kruzo Aero Chair
            strong.product-price $78.00
            span.icon-cross
              img.img-fluid(src='images/cross.svg')
        // End Column 3
        // Start Column 4
        .col-12.col-md-4.col-lg-3.mb-5
          a.product-item(href='#')
            img.img-fluid.product-thumbnail(src='images/product-3.png')
            h3.product-title Ergonomic Chair
            strong.product-price $43.00
            span.icon-cross
              img.img-fluid(src='images/cross.svg')
        // End Column 4
        // Start Column 1
        .col-12.col-md-4.col-lg-3.mb-5
          a.product-item(href='#')
            img.img-fluid.product-thumbnail(src='images/product-3.png')
            h3.product-title Nordic Chair
            strong.product-price $50.00
            span.icon-cross
              img.img-fluid(src='images/cross.svg')
        // End Column 1
        // Start Column 2
        .col-12.col-md-4.col-lg-3.mb-5
          a.product-item(href='#')
            img.img-fluid.product-thumbnail(src='images/product-1.png')
            h3.product-title Nordic Chair
            strong.product-price $50.00
            span.icon-cross
              img.img-fluid(src='images/cross.svg')
        // End Column 2
        // Start Column 3
        .col-12.col-md-4.col-lg-3.mb-5
          a.product-item(href='#')
            img.img-fluid.product-thumbnail(src='images/product-2.png')
            h3.product-title Kruzo Aero Chair
            strong.product-price $78.00
            span.icon-cross
              img.img-fluid(src='images/cross.svg')
        // End Column 3
        // Start Column 4
        .col-12.col-md-4.col-lg-3.mb-5
          a.product-item(href='#')
            img.img-fluid.product-thumbnail(src='images/product-3.png')
            h3.product-title Ergonomic Chair
            strong.product-price $43.00
            span.icon-cross
              img.img-fluid(src='images/cross.svg')
        // End Column 4
  // Start Footer Section
  footer.footer-section
    .container.relative
      .sofa-img
        img.img-fluid(src='images/sofa.png' alt='Image')
      .row
        .col-lg-8
          .subscription-form
            h3.d-flex.align-items-center
              span.me-1
                img.img-fluid(src='images/envelope-outline.svg' alt='Image')
              span Subscribe to Newsletter
            form.row.g-3(action='#')
              .col-auto
                input.form-control(type='text' placeholder='Enter your name')
              .col-auto
                input.form-control(type='email' placeholder='Enter your email')
              .col-auto
                button.btn.btn-primary
                  span.fa.fa-paper-plane
      .row.g-5.mb-5
        .col-lg-4
          .mb-4.footer-logo-wrap
            a.footer-logo(href='/')
              | Furni
              span .
          p.mb-4
            | Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant
          ul.list-unstyled.custom-social
            li
              a(href='#')
                span.fa.fa-brands.fa-facebook-f
            li
              a(href='#')
                span.fa.fa-brands.fa-twitter
            li
              a(href='#')
                span.fa.fa-brands.fa-instagram
            li
              a(href='#')
                span.fa.fa-brands.fa-linkedin
        .col-lg-8
          .row.links-wrap
            .col-6.col-sm-6.col-md-3
              ul.list-unstyled
                li
                  a(href='#') About us
                li
                  a(href='#') Services
                li
                  a(href='#') Blog
                li
                  a(href='#') Contact us
            .col-6.col-sm-6.col-md-3
              ul.list-unstyled
                li
                  a(href='#') Support
                li
                  a(href='#') Knowledge base
                li
                  a(href='#') Live chat
            .col-6.col-sm-6.col-md-3
              ul.list-unstyled
                li
                  a(href='#') Jobs
                li
                  a(href='#') Our team
                li
                  a(href='#') Leadership
                li
                  a(href='#') Privacy Policy
            .col-6.col-sm-6.col-md-3
              ul.list-unstyled
                li
                  a(href='#') Nordic Chair
                li
                  a(href='#') Kruzo Aero
                li
                  a(href='#') Ergonomic Chair
      .border-top.copyright
        .row.pt-4
          .col-lg-6
            p.mb-2.text-center.text-lg-start
              | Copyright &copy;
              script.
                document.write(new Date().getFullYear());
              | . All Rights Reserved. &mdash; Designed with love by 
              a(href='https://untree.co') Untree.co
              |   Distributed By 
              a(href='https://themewagon.com') ThemeWagon
              // License information: https://untree.co/license/
          .col-lg-6.text-center.text-lg-end
            ul.list-unstyled.d-inline-flex.ms-auto
              li.me-4
                a(href='#') Terms &amp; Conditions
              li
                a(href='#') Privacy Policy

