doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/tiny-slider.css')
  body
    #app
      block content

    script(type="text/javascript" src="/js/bootstrap.min.js")
    script(type="text/javascript" src="/js/jquery.min.js")
    script(type="text/javascript" src="/js/vue.min.js")
    script(type="text/javascript" src="/javascripts/generated/bundle.js")
    script(type="text/javascript" src="/javascripts/src/bootstrap.bundle.min.js")
    script(type="text/javascript" src="/javascripts/src/custom.js")
    script(type="text/javascript" src="/javascripts/src/tiny-slider.js")
